@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

    /* This won't be included in your compiled CSS unless you actually use it */
    .text-normal {
        font-family: "Inika", serif;
            font-weight: 400;
            font-style: normal;
    }
    .text-bold {
        font-family: "Inika", serif;
            font-weight: 400;
            font-style: bold;
    }
    header{
        background: url(/images/texturebg.png);
      
    }
    footer{
        background: url(/images/texturebg.png);
    }
    .bg-body{
        background: url(/images/texturebg.png);
    }
}